@page
@model RazorPage.Web.Pages.AnchorTagModel
@{
    ViewData["Title"] = "Test";
}

<cache enabled="DateTime.Now.DayOfWeek != DayOfWeek.Sunday">@DateTime.Now</cache>

<h3>@Model.Message</h3>

<a asp-page-handler="" >Get</a>

<form method="post" ><button>Post</button></form>

@*<a href="/test" class="btn btn-default">Click to Get</a>*@


<a asp-page-handler="Param" asp-route-id="12">Get Param</a>

<form asp-page-handler="Param" method="post">
    <input type="hidden" name="id" value="23" />
    <button>Post Param</button>
</form>

<br/>

<form method="post">
    <input type="hidden" name="id" value="23" />
    <button type="submit" asp-page-handler="Param">Post Param</button>
</form>
