
@page
@model PrivacyModel
@{
    ViewData["Title"] = "Test Index";
}
<h1>@ViewData["Title"]</h1>

<p>Test Index Page</p>

<p>
    <a asp-page="./AnchorTag">Anchor Tag</a> |
    <a asp-page="./CustomTag">Custom Tag</a> |
    <a asp-page="./Forms">Forms</a> |
    <a asp-page="./Handler">Handler</a>
</p>
<p>
    <a asp-page="./Concurrency" asp-route-id="1">Concurrency</a> |
    <a asp-page="./Filter">Filter</a> |
    <a asp-page="./Contact" asp-route-id="textValue">Contact</a> 
</p>
<p>
    <a asp-page="./Authorize" asp-route-id="textValue">Authorize</a> |
    <a asp-page="./HandlerAuthorize" asp-route-id="textValue">Handler Authorize</a>
</p>
