@page "/throw"
@rendermode RenderMode.InteractiveServer
<h3>Throw</h3>
<p><a href="https://learn.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-8.0?view=aspnetcore-8.0#error-page-support">MS Document</a></p>
<button @onclick="ThrowEx">Throw</button>
<button @onclick="ThrowExAsync">ThrowAsync</button>

@code {

    protected override  void OnInitialized()
    {
        // int i = 0;
        // int r = 10 / i;
    }

    public async Task ThrowExAsync()
    {
        try
        {
            int i = 0;
            int r = 10 / i;
            await Task.CompletedTask;
        }
        catch (Exception ex)
        {
            await DispatchExceptionAsync(ex);
        }
    }

    public void ThrowEx()
    {
        int i = 0;
        int r = 10 / i;
    }
}
