@page "/cascading-value"
@attribute [RenderModeInteractiveServer(prerender: true)]
@using Models
<h3>Cascading Value</h3>
<p>@Foo.Name-@Foo.Id</p>
<p>@AlphaFoo.Name-@AlphaFoo.Id</p>

@code {
    [CascadingParameter]
    public Foo? Foo { get; set; }

    [CascadingParameter(Name = "Alpha")]
    public Foo? AlphaFoo { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine($"OnInitialized {Foo.Name}:{Foo.Id}  {AlphaFoo.Name}:{AlphaFoo.Id}");
    }
}
