@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<p></p>
<p>Documents:</p>
<p>ASP.NET Core<a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/project-structure?view=aspnetcore-8.0"> Blazor project structure</a></p>
<p>ASP.NET Core<a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/render-modes?view=aspnetcore-8.0"> Blazor render modes</a></p>

<p></p>
<p>Demos:</p>
<p><a href="/render-mode-1">Static render mode</a></p>
<p><a href="/render-mode-2">Server render mode</a></p>
<p><a href="/render-mode-3">WebAssembly render mode</a></p>
<p><a href="/render-mode-4">Auto render mode</a></p>
<p><a href="/render-mode-5">Propagation mode</a></p>
<p><a href="/render-mode-7">Different mode</a></p>