@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Documents:</p>
<li><a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/project-structure?view=aspnetcore-8.0">ASP.NET Core Blazor project structure</a></li>
<li><a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/render-modes?view=aspnetcore-8.0">ASP.NET Core Blazor render modes</a></li>
<li><a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?preserve-view=true&view=aspnetcore-8.0#webcil-packaging-format-for-net-assemblies">Host and deploy ASP.NET Core Blazor WebAssembly</a></li>
<li><a href="https://jonhilton.net/blazor-auto-render-mode/">Auto Render Mode</a></li>
<li>Render Mode
    <ul>
        <li><a href="/render-mode-1">Static render mode</a></li>
        <li><a href="/render-mode-2">Server render mode</a></li>
        <li><a href="/render-mode-3">WebAssembly render mode</a></li>
        <li><a href="/render-mode-4">Auto render mode</a></li>
        <li><a href="/render-mode-5">Propagation mode</a></li>
        <li><a href="/render-mode-7">Different mode</a></li>
        <li><a href="/render-mode-8">Serializable parameter</a></li>
        <li><a href="/render-mode-10">Wrapper Component</a></li>
    </ul>
</li>
<li>Prerendered
    <ul>
        <li><a href="/prerendered-counter-1">Flicker Counter</a></li>
        <li><a href="/prerendered-counter-2">Prerendered Persistent Counter</a></li>
        <li><a href="/prerendered-counter-server">Prerendered Server</a></li>
        <li><a href="/prerendered-counter-webassembly">Prerendered WebAssembly</a></li>
        <li><a href="/prerendered-counter-auto">Prerendered Auto</a></li>
    </ul>
</li>
<li>Life Cycle
    <ul>
        <li><a href="/set-params-async">Set Parameters</a></li>
        <li><a href="/set-params-async/123">Set Parameters-123</a></li>
        <li><a href="/on-init">Component initialization</a></li>       
    </ul>
</li>
<li>Cascading
    <ul>
        <li><a href="/cascading-component">Cascading Component</a></li>
        <li><a href="/cascading-root">Cascading Root</a></li>
    </ul>
</li>
<li>Form
    <ul>
        <li><a href="/starship-plain-form">Form1</a></li>
        <li><a href="/starship-1">Edit Form</a></li>
        <li><a href="/starship-2">Edit Form With Validation</a></li>
        <li><a href="/enhance-form">Edit Form Enhance</a></li>
    </ul>
</li>
<li><a href="/data-binding">Data Binding</a></li>
<li><a href="/nav-example#header">Navigation</a></li>
<li><a href="/quickgrid-example">Quick Grid</a></li>
<li><a href="/dispatch-exception">Dispatch Exception</a></li>
<li><a href="/dialog">Dialog</a></li>
<li><a href="/section">Section</a></li>
<li><a href="/empty-content">Empty Content</a></li>

