@page "/render-mode-5"
@rendermode RenderMode.InteractiveServer

<h3>Propagation Mode</h3>
<p>
    <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/render-modes?view=aspnetcore-8.0#auto-render-mode">MS Document</a>
</p>

<SharedMessage />