@page "/render-mode-10"

<h3>Wrapper Component Mode</h3>
<p>
    <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/render-modes?view=aspnetcore-8.0#child-component-with-a-serializable-parameter">MS Documents</a>
</p>

<WrapperComponent @rendermode="RenderMode.InteractiveServer" />
