@model Common.Model.Foo
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>Id:@Model.Id</div>
<div>Order:@Model.Order</div>
<div>Text:@Model.Text</div>


<form asp-controller="Home" asp-action="FooPost" method="Post">
    <input type="submit" value="post" />
</form>