<h2 style="color: green">GeeksforGeeks</h2>
<h4>Angular PrimeNG StyleClass Properties</h4>

<p-button label="dark-button" [styleClass]="'test'"> </p-button>
<p></p>

<button pButton label="ToggleClass dark-mode"
        pStyleClass="@next"
        toggleClass="dark-mode">
</button>



<div class="content">
  GeeksforGeeks is a computer science
  portal for geeks. It offers articles
  on various computer science subjects
  like Data Structures, Algorithms,
  Compiler Design, Computer Networks, etc.
</div>
