<h1>Render Message</h1>

<p>@Message</p>

@* <button class="btn btn-primary" @onclick="ClickTest">Click</button> *@

@code {
    [Parameter]
    public string Message { get; set; }

    // private void ClickTest()
    // {
    //     Message = "Clicked";
    // }
}