@page "/counter"
@using Services
@inject FooService FooService
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private int currentCount;
    private Random r = new Random();

    protected override void OnInitialized()
    {
        currentCount = r.Next(100);
    }

    private void IncrementCount()
    {
        //currentCount++;
        currentCount = FooService.AddOne(currentCount);
    }
}