@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<li><a href="https://www.coder.work/article/7541397">Blazor WebAssembly 应用程序上看不到 DLL 和 dotnet.wasm</a></li>
<li>
    <a href="https://www.jianshu.com/p/6d4d67e878ec">使用wasm2c反编译wasm代码</a>
    <ul>
        <li><a href="https://github.com/WebAssembly/wabt">Wabt github</a></li>
    </ul>
</li>
<li>
    Event Handling
    <ul>
        <li><a href="/event-handler-example-1">EventHandler Example</a></li>
        <li><a href="/event-handler-example-2">EventHandler Async Example</a></li>
        <li><a href="/event-handler-example-3">Built-in event arguments</a></li>
        <li><a href="/event-handler-example-4">Lambda Expressions</a></li>      
    </ul>
</li>