@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="nav-item px-3">
            <NavLink class="nav-link" href="culture-example-1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> culture-example-1
            </NavLink>
        </div>

<SurveyPrompt Title="How is Blazor working for you?" />
