@page "/example8"

<h3>Danger Buttons</h3>
<li><code>danger</code> is a property of button after antd 4.0.</li>
<div>
    <Button Danger Type="@ButtonType.Primary">
        Primary
    </Button>
    <Button Danger>
        Default
    </Button>
    <Button Danger Type="@ButtonType.Dashed">
        Dashed
    </Button>
    <Button Danger Type="@ButtonType.Text">
        Text
    </Button>
    <Button Danger Type="@ButtonType.Link">
        Link
    </Button>
</div>