@page "/example6"

@using System.ComponentModel
@using AntDesign.TableModels
@using AntDesign

<h3>Multiple Buttons</h3>
<li>If you need several buttons, we recommend that you use 1 primary button + n secondary buttons, and if there are more than three operations, you can group some of them into <a href="en-US/components/dropdown"><code>DropdownButton</code></a>.</li>

<Button Type="@ButtonType.Primary">Primary</Button>
<Button>Secondary</Button>
<DropdownButton>
    <Overlay>
        <Menu>
            <MenuItem Key="1">1st item</MenuItem>
            <MenuItem Key="2">2nd item</MenuItem>
            <MenuItem Key="3">3rd item</MenuItem>
        </Menu>
    </Overlay>
    <Unbound>
        Actions
    </Unbound>
</DropdownButton>