@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<li>
    <a href="/nav-example">Navigation</a>
</li>

<li>
    Navigation Parameters
    <ul>
        <li><a href="/params-example-1">Parameters Example1</a></li>
        <li><a href="/params-example-2">Parameters Example2</a></li>
    </ul>
</li>