@page "/render-mode-4"
@rendermode RenderMode.InteractiveAuto
@using Services;
@inject FooService FooService

<h3>Auto Render Mode</h3>
<p>
    <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/render-modes?view=aspnetcore-8.0#auto-render-mode">MS Document</a>
</p>
<p>@FooService.GetInfo()</p>
<button class="btn btn-primary" @onclick="UpdateMessage">Click me</button> @message

@code {
    private string message = "Not clicked yet.";

    protected override void OnInitialized()
    {
        Console.WriteLine($"AutoRender OnInitialized: {FooService.GetInfo()}");
    }

    private void UpdateMessage()
    {
        Console.WriteLine("AutoRender UpdateMessage clicked");
        message = "Somebody clicked me!";
    }
}