
@typeparam TItem 

<GridRow>
    <GridCol Span="24">

        <Form Model="@Data"
              ValidateMode="@FormValidateMode.Rules"
            
              ValidateOnChange="true">
            @ChildContent

        </Form>

        <button>
            @ChildContent2
        </button>
    </GridCol>
</GridRow>


@code {

    [Parameter]
    public TItem[] Data { get; set; }

    [Parameter]
    public RenderFragment<TItem> ChildContent { get; set; }

    [Parameter]
    public RenderFragment<TItem> ChildContent2 { get; set; }

    [Parameter]
    public string BtnName { get; set; }

    [Parameter]
    public EventCallback<TItem> OnClick { get; set; }

    
}
