<h1>Hello, world!</h1>
<p>Angular Version:{{version}}</p>
<ul>
  <li><a href='https://primeng.org/installation'>PrimeNG</a> Document</li>
  <li><a href='https://angular.io/cli'>Angular CLI</a> Install</li>
  <li><a href='https://www.lsjlt.com/news/269229.html'>Angular CLI 如何安装</a></li>
</ul>

<p-panel header="Button" [toggleable]="true">
  <li><a [routerLink]="['/button']">Button </a></li>
</p-panel>
<p></p>
<p-panel header="Input" [toggleable]="true">
  <li><a [routerLink]="['/input-switch']">Input Switch</a></li>
  <li><a [routerLink]="['/input-text']">Input Text</a></li>
</p-panel>
<p></p>
<p-panel header="Panel" [toggleable]="true">
  <li><a [routerLink]="['/panel']">Panel </a></li>
</p-panel>
<p></p>
<p-panel header="Menu" [toggleable]="true">
  <li><a [routerLink]="['/menu-bar']">MenuBar</a></li>
</p-panel>
